.album-list-songs {
    inline-size: 100%;
    text-align: start;
}

.album-list-songs thead {
    font: var(--subtitle2);
    font-size: 1rem;
    padding-block-end: 1rem;
}


.album-list-songs tbody{
    font: var(--baseFont-normal);
    color: var(--white);
}

.album-list-songs tbody tr th {
    padding-block: .5rem;
}

.album-list-songs tbody tr th .icon-heart {
    cursor: pointer;
}