.user {
    display: flex;
    align-items: center;
    gap: .5rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding-inline-start: .125rem;
    padding-inline-end: .625rem;
    padding-block: .125rem;
}

.user img {
    border-radius: 50%;
}

.user p {
    margin: 0 ;
}

.user button {
    background: none;
    border: none;
    cursor: pointer;
}

.user button i {
    color: var(--white);
    font-size: .625rem;
}