@import './playlist-a.css';
@import './playlist-b.css';

/* .playlistList {
    border: 1px solid red;
} */

.playlistList-top {
    padding-block: .5rem;
    margin-block-end: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.playlistList-title {
    font: var(--headline2);
    color: var(--white);
    margin: 0;
}

.playlistList-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}